@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<h1>Ошибка</h1>
<h2>Во время работы случилась непредвиденная ошибка за которую нам очень стыдно.</h2>
<p>Пока мы её исправляем, вот вам котик.</p>
<img align="middle" src="/Content/images/ErrorCat.jpg" />