<div class="b-article-preview">
    <div class="b-article-preview__photo-wrapper">
        <img src="http://aledo-pro.ru/images/solutions/img_5500337688910.png" class="b-article-preview__photo" />
    </div>
    <h3 class="b-article-preview__heading">ВОЗДЕЙСТВИЕ НА ЭКОНОМИКУ</h3>
    <p class="b-article-preview__preview">Готова на кризис достаточно хорошо Готова на кризис достаточно хорошо Готова на кризис достаточно хорошо Готова на кризис достаточно хорошо</p>
    <a class="b-button b-preview-button b-arrow-button" href="javascript:void(0)">
        <span class="b-button__text b-arrow-button__text b-preview-button__text">Читать далее</span>
        <span class="b-arrow-button__icon">
            @Html.Partial("Partials/Svg/Icons/ArrowIcon", null, new ViewDataDictionary { { "class", "b-arrow-button__arrow" } })
        </span>
    </a>
    <div class="b-ribbon b-article-preview__ribbon b-ribbon_article-date">
        <div class="b-article-preview-date">
            <span class="b-article-preview-date__day">19</span>
            <span class="b-article-preview-date__month">сентября</span>
        </div>
        <i class="b-ribbon__tail b-ribbon__tail_l"></i>
        <i class="b-ribbon__tail b-ribbon__tail_r"></i>
    </div>

</div>
