@model NinjaAdmin.Models.ViewModels.CommonViewModel

<div class="b-section b-header"
     image-responsive="{
                             default : {
                                 src:'/Content/images/header-background_m.png'
                             },

                             992 : {
                                 src: '/Content/images/header-background.png',
                             }
                 }" >
     
    <i class="b-header__triangle b-header__triangle_left"
       ng-triangle-decoration="{'border-top-width': width /7, 'border-left-width' : width * 0.54}"></i>
    <i class="b-header__triangle b-header__triangle_right"
       ng-triangle-decoration="{'border-bottom-width': width/6, 'border-left-width' : width  * 0.46 }"></i>
    <div class="b-header__inner">
        <div class="b-section__content ">
            <div class="b-header-table">
                <div class="b-header-cell b-header-cell_l">
                    <a href="/" class="b-logo">
                      
                        @Html.Partial("Partials/Svg/LogoPartial")
                      
                       
                     
       

                        @*<img src="/Content/images/logo_v1.png" class="b-logo__image b-logo__image_large hidden-xs hidden-sm" width="244" height="68" border="0" />*@
                        @*<img src="/Content/images/logo_v2.png" width="125" height="30" class="b-logo__image b-logo__image_small visible-xs visible-sm" />*@
                    </a>
                </div>
                <div class="b-header-cell b-header-cell_c">
                    <ul class="list-unstyled  b-header-list hidden-xs hidden-sm">
                        <li class="b-header-list__item">
                            <a href="javascript:void(0)" class="b-header-list__link">Что мы делаем</a>
                        </li>
                        <li class="b-header-list__item">
                            <a href="javascript:void(0)" class="b-header-list__link">Почему мы</a>
                        </li>
                        <li class="b-header-list__item">
                            <a href="javascript:void(0)" class="b-header-list__link">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="b-header-cell b-header-cell_r">
                    <div class="b-header__contacts">
                        <a href="tel:@Model.Phone.Trim()" class="b-header__telephone">
                            @*8 (931) 234 34 34*@@Model.Phone
                        </a>

                        <a href="mailto:@Model.Mail"><i>@Model.Mail</i></a>
                    </div>

                    <a href="javascript:void(0)" class="b-menu-trigger  hidden-md hidden-lg">
                        <i class="b-menu-trigger__line"></i>
                        <i class="b-menu-trigger__line"></i>
                        <i class="b-menu-trigger__line"></i>
                    </a>



                    <ul class="list-unstyled  b-header-list b-header-list_mobile" ng-mobile-list="{ 'trigger' : '.b-menu-trigger', 'openClass' : 'b-header-list_mobile_open'}">
                        <li class="b-header-list__item">
                            <a href="javascript:void(0)" class="b-header-list__link">Что мы делаем</a>
                        </li>
                        <li class="b-header-list__item">
                            <a href="javascript:void(0)" class="b-header-list__link">Почему мы</a>
                        </li>
                        <li class="b-header-list__item">
                            <a href="javascript:void(0)" class="b-header-list__link">Контакты</a>
                        </li>
                    </ul>



                </div>

            </div>
        </div>
    </div>

    <div class="b-section__content ">
        <h2 class="b-header__heading b-section__heading  text-center"><strong>ЗАСТАВЛЯЕМ РАБОТАТЬ<br class="visible-xs visible-sm"/>
            КАЖДЫЙ КЛИК</strong></h2>
        <div class="text-center">
            <div class="b-rounded b-rounded_button">
                <button class="b-button" data-toggle="modal" data-target="#order_service">
                    <span class="b-button__text">Заказать услугу</span>
                </button>
            </div>
        </div>
    </div>
</div>