    <div class="b-services-nav-list">
        <div class="b-services-nav-list__item "
             ng-class="{'b-services-nav-list__item_active' :servicesCtrl.visible == 1 }"
             ng-click="servicesCtrl.openService(1)">
            Разработка и создание
            <br />
            продающих сайтов
        </div>
        <div class="b-services-nav-list__item "
             ng-class="{'b-services-nav-list__item_active' :servicesCtrl.visible == 2}"
             ng-click="servicesCtrl.openService(2)">
            Контекстная <br />реклама
        </div>
        <div class="b-services-nav-list__item "
             ng-class="{'b-services-nav-list__item_active' :servicesCtrl.visible == 3 }"
             ng-click="servicesCtrl.openService(3)">
            Продвижение <br /> сайтов
        </div>
        <div class="b-services-nav-list__item "
             ng-class="{'b-services-nav-list__item_active' :servicesCtrl.visible == 4 }"
             ng-click="servicesCtrl.openService(4)">
            Медийная <br />реклама
        </div>
        <div class="b-services-nav-list__item "
             ng-class="{'b-services-nav-list__item_active' :servicesCtrl.visible == 5 }"
             ng-click="servicesCtrl.openService(5)">
            Социальные <br /> медиа
        </div>
        <div class="b-services-nav-list__item "
             ng-class="{'b-services-nav-list__item_active' :servicesCtrl.visible == 6 }"
             ng-click="servicesCtrl.openService(6)">
            Аналитика
        </div>
    </div>
